.top-bar {
  padding-top: 60px; /* prevent header overlap */
  position: absolute;
  top: 20px;
  right: 25px;
  z-index: 10;
  border: 2px solid #eee;
  border-radius: 6px;
}


/* --- HERO BACKGROUND IMAGE --- */
.hero-background {
  width: 100%;
  height: 100vh; /* full screen */
  background-image: url('/images/landing.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Optional dark overlay for text readability */
.hero-overlay {
  background: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.hero-content {
  position: absolute;
  top: 14vh;    /* 1/3 from the top */
  text-align: center;
  color: #006400;
  max-width: 800px;

  /* optional transparent background for readability */
  padding: 20px 30px;
  background: rgba(0,0,0,0.05);
  border-radius: 8px;
}

.hero-content h1 {
  font-size: 2.9rem;
  font-weight: bolder;
  font-variant: small-caps;
  margin-bottom: 0 0 10px 0;
}

.hero-content p {
  font-size: 1.3rem;
  color: #004700;
  margin-bottom: 30px;
}

.hero-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.features {
  position: absolute;
  bottom: 18vh;    /* 1/4 from the bottom */
  max-width: 900px; 
  display: flex;  
  gap: 65px; 
  padding: 15px 25px; 
}

.feature {
  min-width: 250px;
  background: rgba(129, 65, 65, 0.5);
  padding: 25px;
  color: whitesmoke;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.04);
  text-align: center;
  border: 2px solid #eee;
  border-radius: 6px;
}